html, body {
    height: 100%;
}

body {
    position: relative;
    overflow: hidden;
}

svg {
    width: 100%;
    height: 100%;
}

.params-container {
    padding-bottom: 10px;
}

.svg-container {
    width: 100%;
    border-top: 1px solid #999;
    position: relative;
}

.svg-container .controls {
    background: white;
    position: absolute;
    top: 5px;
    left: 5px;
}

.compact-radio input {
    margin-bottom: 0;
}

.infotip {
    border: 1px solid #777;
    background: #eee;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    font-size: 11px;
    line-height: 14px;
}


g.root {
}

g.link {
    stroke: #777;
    stroke-width: 0.5;
}
g.link .focus {
    stroke: #000;
    stroke-width: 1.0;
    opacity: 1.0;
}
g.link .blur {
    stroke: #aaa;
    opacity: 0.1;
}

g.nodedot {
    stroke: #aaa;
    stroke-width: 1.0;
}
g.nodedot .focus {
    opacity: 1.0;
}
g.nodedot .blur {
    opacity: 0.1;
}

g.nodesector {

}
g.nodesector .focus {
    opacity: 1.0;
}
g.nodesector .blur {
    opacity: 0.1;
}

g.nodehalo {
    stroke-width: 2.5;
    fill: transparent;
}
g.nodehalo .focus {
    opacity: 1.0;
}
g.nodehalo .blur {
    opacity: 0.1;
}

g.nodelabel {
    font-size: 3px;
    text-anchor: middle;
}
g.nodelabel .focus {
    fill: #000;
    font-weight: 600;
    display: inline;
}
g.nodelabel .blur {
    fill: #999;
}

#spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 5000;
}

.button {
    padding: 5px;
    margin-bottom: 0;
}

.text--small {
    font-size: 11px;
}

.text--medium {
    font-size: 13px;
}

.p--compact p {
    margin-bottom: 0;
}

.hidden {
    display: none;
}
